ul{
  margin: 0;
  padding: 0;
  display: flex;
}
li{
  list-style: none;
  padding: 10px 20px;
  border: 2px solid rgb(240, 240, 240);
}
li:not(:first-child){
  border-left: none;
}
li.active{
  background-color: #000;
  border-color: #000;
  color: #fff;
}